<html>
	<title>Shadow's stuffs</title>
	<head>
		<link type="text/css" href="/assets/css/home.css" rel="stylesheet">
	</head>
	<body>
		<h1 class="head1"> Shadow's Stupid Stuffs :></h1>
		<div class="wrapper">
				<div class="container" id="c0" onclick="window.open('index.html','mywindow');" style="cursor: pointer;">&nbsp;>					<div class="image" id="i0">
						<div class="city">
							<?xml version="1.0" encoding="utf-8"?>
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								viewBox="0 0 300 225" style="enable-background:new 0 0 300 225;" xml:space="preserve">
								<ellipse class="st4" id="sh1" cx="49" cy ="21" rx="33" ry="86" />
								<ellipse id="XMLID_15_" class="st4" cx="170.5" cy="124.75" rx="27.5" ry="27.5"/>
								<line id="XMLID_5_" class="st1" x1="179" y1="202" x2="179" y2="226"/>
								<line id="XMLID_6_" class="st1" x1="179" y1="207" x2="190" y2="207"/>
								<line id="XMLID_7_" class="st1" x1="172" y1="214" x2="180" y2="214"/>
								<line id="XMLID_8_" class="st1" x1="190" y1="202" x2="190" y2="207"/>
								<line id="XMLID_9_" class="st1" x1="172" y1="207" x2="172" y2="214"/>
								<circle id="XMLID_10_" class="st3" cx="87.5" cy="98.5" r="1.5"/>
								<circle id="XMLID_11_" class="st3" cx="24.5" cy="68.5" r="2.5"/>
								<circle id="XMLID_12_" class="st3" cx="219.5" cy="18.5" r="1.5"/>
								<circle id="XMLID_13_" class="st3" cx="272.5" cy="03.5" r="2.0"/>
								<circle id="XMLID_14_" class="st3" cx="144.5" cy="12.5" r="1.0"/>
								<circle id="XMLID_10_" class="st3" cx="107.5" cy="328.5" r="1.5"/>
								<circle id="XMLID_11_" class="st3" cx="24.5" cy="58.5" r="2.5"/>
								<circle id="XMLID_12_" class="st3" cx="19.5" cy="128.5" r="1.5"/>
								<circle id="XMLID_13_" class="st3" cx="72.5" cy="113.5" r="2.0"/>
								<circle id="XMLID_14_" class="st3" cx="174.5" cy="92.5" r="1.0"/>
							</svg>
						</div>
					</div>
					<div class="story" id="s0">
						<div class="info">
							<h3>Anilist</h3>
							<p> Cheap attemp to use anilist API<br>Not going well :>.</p>
						</div>
					</div>
				</div>
			<div class="container" id="c1">
				<div class="image" id="i1">
					<div class="city">
					</div>
				</div>
				<div class="story" id="s1">
					<div class="info">
						<h3></h3>
						<p></p>
					</div>
				</div>
			</div>
			<div class="container" id="c2">
				<div class="image" id="i2">
					<div class="city">
					</div>
				</div>
				<div class="story" id="s2">
					<div class="info">
						<h3></h3>
						<p></p>
					</div>
				</div>
			</div>
			<div class="page">
				<h4>Hover the card</h4>
				<ul>
					<li> <<< </li>
					<li> >>> </li>
				</ul>
			</div>
		</div>
		<canvas id="canvas"></canvas>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js'></script>
		<script  src="/assets/scripts/home.js"></script>
	</body>
</html>